<link rel="stylesheet" href="~/css/page/IndexCinemas.css">
<link rel="stylesheet" href="~/css/nav-bar.css" />
<link rel="stylesheet" href="~/css/styles-1/index.css" />
@model IEnumerable<Actor>

@{
    ViewData["Title"] = "Actores";
}

<div class="container">
    @foreach (var actor in Model)
    {
        <div class="card">
            <figure>
                <img src="@actor.ProfilePictureURL">
            </figure>
            <div class="contenido">
                <div class="nameCinema">
                    <h3>@actor.FullName</h3>
                </div>
                <div class="bio">
                    <p>@actor.Bio</p>
                </div>
                <div class="bottom">
                    <button class="btn btn-primary text-decoration-none " asp-action="Details" asp-route-id="@actor.Id"><a class="text-white" asp-action="Details" asp-route-id="@actor.Id">Detalles</a></button>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <button class="btn btn-danger text-decoration-none" asp-action="Delete" asp-route-id="@actor.Id"><a class="text-white" asp-action="Delete" asp-route-id="@actor.Id">Eliminar</a></button>
                    }
                </div>

            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Actors")

