<link rel="stylesheet" href="~/css/page/card.css" />
@model IEnumerable<Actor>

@{
    ViewData["Title"] = "Actores";
}

<div class="container-card mb-5">
    @foreach (var actor in Model)
    {
        <div class="box">
            <div class="image">
                <img src="@actor.ProfilePictureURL" alt="@actor.FullName">
            </div>
            <div class="name_actor">@actor.FullName</div>
            <div class="bio"><p>@actor.Bio</p></div>
            <div class="btn">
                <button class="btn-details" asp-action="Details" asp-route-id="@actor.Id"><a asp-action="Details" asp-route-id="@actor.Id">Detalles</a></button>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <button class="btn-danger bg-danger text-white" asp-action="Delete" asp-route-id="@actor.Id">
                        <a  asp-action="Delete" asp-route-id="@actor.Id">Eliminar</a></button>
                }
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Actors")
