<link rel="stylesheet" href="~/css/page/card.css" />
@model IEnumerable<Producer>

@{
    ViewData["Title"] = "Productores";
}

<div class="container-card mb-5">
    @foreach (var producer in Model)
    {
        <div class="box">
            <div class="image">
                <img src="@producer.ProfilePictureURL" alt="@producer.FullName">
            </div>
            <div class="name_actor">@producer.FullName</div>
            <div class="bio"><p>@producer.Bio</p></div>
            <div class="btn">
                <button class="btn-details" asp-action="Details" asp-route-id="@producer.Id"><a asp-action="Details" asp-route-id="@producer.Id">Detalles</a></button>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <button class="btn-delete" asp-action="Delete" asp-route-id="@producer.Id"><a asp-action="Delete" asp-route-id="@producer.Id">Eliminar</a></button>
                }
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Producers")