<link rel="stylesheet" href="~/css/styles-1/index.css" />
<link rel="stylesheet" href="~/css/nav-bar.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
@model IEnumerable<Cinema>

@{
    ViewData["Title"] = "Cines";
}


<div class="row container">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(c => c.Logo)</th>
                    <th scope="col">@Html.DisplayNameFor(c => c.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(c => c.Description)</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cinema in Model)
                {
                    <tr>
                        <td class="aling-middle">
                            <img class="rounded-circle" src="@cinema.Logo" alt="@cinema.Name" style="max-width: 150px" />
                        </td>
                        <th class="aling-middle" scope="row">
                            @Html.DisplayFor(model => cinema.Name)
                        </th>
                        <td class="aling-middle">
                            @Html.DisplayFor(model => cinema.Description)
                        </td>
                        <td class="aling-middle">
                            <a class="btn btn-primary text-white"><i class="bi bi-pencil-square"> Editar</i></a> |
                            <a class="btn btn-danger text-white "><i class="bi bi-trash"> Eliminar</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>