<link rel="stylesheet" href="~/css/page/card.css" />
@model IEnumerable<Cinema>

@{
    ViewData["Title"] = "Cinemas";
}

<div class="container-card mb-5">
    @foreach (var cinema in Model)
    {
        <div class="box">
            <div class="image">
                <img src="@cinema.Logo" alt="@cinema.Name">
            </div>
            <div class="name_actor">@cinema.Name</div>
            <div class="bio"><p>@cinema.Description</p></div>
            <div class="btn">
                <button class="btn-details" asp-action="Details" asp-route-id="@cinema.Id"><a asp-action="Details" asp-route-id="@cinema.Id">Detalles</a></button>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <button class="btn-delete" asp-action="Delete" asp-route-id="@cinema.Id"><a asp-action="Delete" asp-route-id="@cinema.Id">Eliminar</a></button>
                }
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Actors")