@model Mirandas_Cinema.Data.ViewModels.MovieViewModel
@{
    ViewData["Title"] = "Gestion Movies";
}
<head>
    <link rel="stylesheet" href="~/css/styles-1/index.css" />
    <link rel="stylesheet" href="~/css/nav-bar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="~/css/Admin_Movies/form_1.css" />
</head>
<style>
    body {
        backdrop-filter: blur(10px);
    }

    .formulario {
        width: 70%;
        margin-bottom: 5em;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        float: initial !important;
    }

    .formulario_cajas {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
    }

    .caja {
        margin-bottom: 2px;
        1 width: max-content;
        padding: 1em;
        border: 1px solid gainsboro;
        border-radius: 15px;
    }

    .caja_contenedor_img {
        margin-left: auto;
        margin-right: auto;
    }

</style>

@using (Html.BeginForm("Movies", "Movies", FormMethod.Post))
{
<div class="caja_contenedor formulario">

    <h3 style="text-align:center;">Gestión de películas</h3> 

    <div style="border:1px solid gainsboro"></div><br />

    @if (@ViewBag.interruptor == 0)
    {
        <div style="width: max-content !important; margin-right:auto; margin-left:auto;">
            <label asp-for="Id" hidden></label>
            <input asp-for="Id" class="form-control" readonly value="@ViewBag.IdAdd" hidden />
            <span asp-validation-for="Id" hidden></span>
        </div>
    }
    else
    {
        <div style="width: max-content !important; margin-right:auto; margin-left:auto;">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" readonly value="@ViewBag.codigo" />
            <span asp-validation-for="Id"></span><br /><br />
        </div>
    }

    <div class="form-group formulario_cajas">
        <div class="caja">
            @Html.LabelFor(n => n.Name)<br />
            @Html.TextBoxFor(n => n.Name, new { @Class = "form-control" })
            @Html.ValidationMessageFor(n => n.Name)<br /><br />

            @Html.LabelFor(d => d.Description)<br />
            @Html.TextBoxFor(d => d.Description, new { @Class = "form-control" })
            @Html.ValidationMessageFor(d => d.Description)<br /><br />

            @Html.LabelFor(c => c.CinemaId)<br />
            @Html.DropDownListFor(c => c.CinemaId, new SelectList(ViewBag.cines, "Value", "Text"), "Select a Cinema", new { @Class = "form-control" })
            @Html.ValidationMessageFor(c => c.CinemaId)<br /><br />
        </div>


        <div class="caja">
            @Html.LabelFor(p => p.ProducerId)<br />
            @Html.DropDownListFor(c => c.ProducerId, new SelectList(ViewBag.producer, "Value", "Text"), "Select a Productor", new { @Class = "form-control" })
            @Html.ValidationMessageFor(p => p.ProducerId)<br /><br />

            @Html.LabelFor(pr => pr.Price)<br />
            @Html.TextBoxFor(pr => pr.Price, new { @Class = "form-control", type = "number" })
            @Html.ValidationMessageFor(pr => pr.Price)<br /><br />

            @Html.LabelFor(c => c.MovieCategory)<br />
            @Html.TextBoxFor(c => c.MovieCategory, new { @Class = "form-control" })
            @Html.ValidationMessageFor(c => c.MovieCategory)<br /><br />
        </div>

        <div class="caja">
            @Html.LabelFor(fi => fi.StartDate)<br />
            @Html.TextBoxFor(fi => fi.StartDate, new { @Class = "form-control", type = "datetime" })
            @Html.ValidationMessageFor(fi => fi.StartDate)<br /><br />

            @Html.LabelFor(f => f.EndDate)<br />
            @Html.TextBoxFor(f => f.EndDate, new { @Class = "form-control", type = "datetime" })
            @Html.ValidationMessageFor(f => f.EndDate)<br /><br />

            @Html.LabelFor(i => i.ImagenURL)<br />
            @Html.TextBoxFor(i => i.ImagenURL, new { @Class = "form-control", id = "ProfilePictureURL", type = "url" })
            @Html.ValidationMessageFor(i => i.ImagenURL)<br /><br />
            <label for="">Foto:</label><br>
            <div class="caja_contenedor_img">
                <div class="image">
                    <img id="PicturePreview" />
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn_success"><span style="margin-left:auto;margin-right:auto;">Guardar</span></button>
</div>
}
@section scripts{
    <script>
        $(document).ready(function () {
            var img = document.getElementById('PicturePreview');
            img.src = $("#ProfilePictureURL").val();
        })
    </script>

}



