<link rel="stylesheet" href="~/css/root/nav-bar.css" />
@using Mirandas_Cinema.Data.ViewModels;
@model ShoppingCartViewModel

@{ 
    ViewData["Title"] = "Resumen carrito";
}

<div class="row nav-links col-md-11" style="margin: auto;">
    <div class="col-md-8 offset-2" style="margin-bottom: 20px;">
        <div class="text-center" style="margin: 50px 0;">
            <h2 style="color: #237bac;">Resumen de su carrito</h2>
        </div>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Cantidad</th>
                    <th>Pelicula</th>
                    <th>Precio</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cart in Model.ShoppingCart.ShoppingCartItems)
                {
                <tr>
                    <td class="align-middle">@cart.Amount</td>
                    <td class="align-middle">@cart.Movie.Name</td>
                    <td class="align-middle">@cart.Movie.Price.ToString("c")</td>
                    <td class="align-middle">@((cart.Amount * cart.Movie.Price).ToString("c"))</td>
                    <td class="align-middle">
                        <a class="text-danger" asp-controller="Orders" asp-action="RemoveItem" asp-route-id="@cart.Movie.Id">
                            <i class="bi bi-dash-lg"></i>
                        </a>&nbsp;
                        <a class="text-success" asp-controller="Orders" asp-action="AddItem" asp-route-id="@cart.Movie.Id">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div>
            <div>
                <a class="btn btn-success float-left" asp-controller="Movies" asp-action="Index">Agregar</a> &nbsp;
                <a class="btn btn-primary float-right" asp-action="Order">Completar orden</a>
            </div>
        </div>

    </div>
</div>